{% extends 'base.html' %}

{% block contenido %}
<div class="card">
  <div class="card-header">
    Bienvenido {{ user.first_name }}
  </div>
  <div class="card-body">
    <p class="card-text">Tenemos una lista de productos exclusivos para ti. ¿Quieres conocer más?</p>
    <a href="{% url 'contacto' %}" class="btn btn-primary">Contáctanos</a>
  </div>
</div>
<div class="row">
    {% for flan in flanes_privados %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ flan.name}}</h5>
              <p class="card-text">{{ flan.description }}</p>
            </div>
          </div>
    </div>
    {% endfor %}
</div>

{% endblock %}